/* General Styles */
/* Remove default margin and padding */
body, html {
    margin: 0;
    padding: 0;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Header Styles */
.banner {
    background: rgba(0, 0, 0, 0.5);
    background-image: url("https://res.cloudinary.com/dxxg9oy2b/image/upload/v1684795601/example_site_resources/banner_background_p5u5ar.jpg");
    background-blend-mode: multiply; /* Blend the image with the background color */
    background-position: center center;
    background-size: cover;
    height: 200px; /* Adjust as needed */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: #00FF41; 
    text-align: center;
    font-size: 3.0em;
}

nav {
    background-color: #001B00; 
    color: #00FF41; 
    height: 60px; /* Adjust as needed */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #00FF41;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px; 
    font-size: 1.5em;
}

nav a:hover {
    background-color: #00FF41;
    color: #000000;
    border-radius: 5px;
}

/* Video Background Styling */
#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    overflow: hidden;
}

#video-background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

/* Body Styles */
h2 {
    font-weight: bold;
    text-align: center;
    color: #00FF41;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: inline-block;
}

table {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #00FF41;
}

table td {
    text-align: center;
    height: 40px; /*Adjust as needed */
    padding: 10px;
}

table th {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    height: 50px; /* Adjust as needed */
    background-color: #00FF41;
    color: #001B00;
}

table tr {
    background-color: #001B00;
    color: #00FF41;
}

tr:hover {
    background-color: rgba(0, 255, 65, 0.5);
    color: #001B00;
    cursor: pointer;
}

#back_to_top_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background-color: rgba(0, 255, 65, 0.7);
    color: #000;
    padding: 10px 20px; /* Adjust as needed */
    text-align: center;
    text-decoration: none;
    font-size: 16px; /* Adjust as neeeded */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 100;
}

#back_to_top_btn:hover {
    background-color: #00FF41;
}
